.checked {
    opacity: 0.5;
    text-decoration: line-through;
  }

  .section {
    margin-bottom: 2rem;
  }

  .divider {
    margin: 2rem 0;
    border-top: 1px solid #ccc;
  }
  .filter-fields {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    margin-left: 30px;
  }

form {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.form-field {
  flex: 1 1 200px;
  min-width: 200px;
}

.button-row {
  width: 100%;
  margin-top: 16px;
}


table {
  width: 100%;
  table-layout: auto;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 10px;
  margin: 20px 0;
  background-color: var(--mat-sys-primary-container);
  color: var(--mat-sys-on-surface);
  overflow: hidden;
}

/* Header */
th {
  background-color: var(--mat-sys-primary);
  color: var(--mat-sys-on-surface);
  padding: 10px;
  text-align: left;
  font-weight: bold;
  border-bottom: 3px solid var(--mat-sys-on-primary-fixed);
}

/* Zellen */
td {
  padding: 10px;
  border-bottom: 1px solid var(--mat-sys-primary-fixed-dim);
  text-align: left;
}

td:first-child {
  width: auto;
}

td:last-child {
  width: auto;
}

/* Hover-Effekt für Zeilen */
tr:hover {
  background-color: var(--mat-sys-primary-fixed-dim);
}

/* Link */
a {
  color: var(--mat-sys-on-surface);
}

/* Link hover */
a:hover {
  color: var(--mat-sys-primary);
  text-decoration: underline;
}

.example-spacer {
  flex: 1 1 auto;
}

.paginator{
  float: right;
}

.paginator-container mat-form-field {
  flex: 1 1 200px;
}

.paginator-container mat-paginator {
  flex: 0 0 auto;
  margin-left: auto;
}

.paginator-container {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  flex-wrap: wrap;

  .search-field {
    flex: 1;
    min-width: 200px;
    margin-top: -2px;
  }

  .custom-paginator {
    margin-top: -4px;
  }
}
