<mat-toolbar class="mat-elevation-z16">
    <div class="container">
      
        <button mat-icon-button (click)="toggle.emit()">
          <mat-icon>menu</mat-icon>
      </button>
      <span>NomNom</span>
    </div>

    <span class="example-spacer"></span>

    <a mat-icon-button [matMenuTriggerFor]="menu" class="accountbutton">
      <mat-icon>account_circle</mat-icon>
    </a>
</mat-toolbar>


<!--das menu-->
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="editProfile()">Profil bearbeiten</button>
  <button mat-menu-item (click)="logout()">Abmelden</button>
</mat-menu>
