<mat-sidenav-container>
  <mat-sidenav [opened]="opened" [mode]="mode" [style.width]="'215px'" [style.margin-top]="'10px'" [style.margin-bottom]="'10px'">
    <mat-nav-list>
      <ng-container *ngFor="let item of menuItems; trackBy: trackByFn">
<!--       Disable von unvollständigen Items -->
        @if (item.label == "Verlauf" || item.label == "Hilfe" || item.label == "Einstellungen") {
          <a mat-list-item disabled [routerLink]="item.route" routerLinkActive="active-link" class="sidenav-items">
            <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
            <span>{{ item.label }}</span>
          </a>
        } @else {
          <a mat-list-item [routerLink]="item.route" routerLinkActive="active-link" class="sidenav-items">
            <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
            <span>{{ item.label }}</span>
          </a>
        }

      </ng-container>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div style="margin: 10px">
      <mat-card class="content-card" appearance="raised">
        @if (currentRoute != "home") {
          <mat-card-header>
          </mat-card-header>
        }
        <mat-card-content>
          <router-outlet></router-outlet>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
