<mat-sidenav-container>
  <mat-sidenav [opened]="opened" [mode]="mode" [style.width]="'215px'" [style.margin-top]="'10px'" [style.margin-bottom]="'10px'">
    <mat-nav-list>
      <ng-container *ngFor="let item of menuItems; trackBy: trackByFn">
        <a mat-list-item [routerLink]="item.route" routerLinkActive="active-link" class="sidenav-items">
          <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
          <span>{{ item.label }}</span>
        </a>
      </ng-container>
      <a mat-list-item (click)="editProfile()" class="sidenav-items">
        <mat-icon matListItemIcon>account_circle</mat-icon>
        <span>Edit Profile</span>
      </a>
      <a mat-list-item (click)="logout()" class="sidenav-items">
        <mat-icon matListItemIcon>logout</mat-icon>
        <span>logout</span>
      </a>

    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div style="margin: 10px">
      <mat-card class="content-card" appearance="raised">
        <mat-card-header>
          <span>Geöffneter Pfad:
            <mat-chip class="route-chip">{{ currentRoute }}</mat-chip>
          </span>
        </mat-card-header>
        <mat-card-content>
          <router-outlet></router-outlet>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
