.mat-sidenav-container {
  height: 91vh;
  background-color: var(--mat-sys-primary-container);
}

.sidenav-items {
  margin-bottom: 5px;
}

.mat-sidenav {
  padding: 20px;
  width: 250px;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: all 0.3s ease;
//  background-color: var(--mat-sys-primary-container);
}
.content-card {
  min-width: 100%;
  min-height: 88vh;
  background-color: var(--mat-sys-surface);
}

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.content-container {
  margin: 10px;
}

.active-link {
  background-color: var(--mat-sys-inverse-primary);
}
