
<div class="card-box">
  <mat-card id="card-left" class="hover-card" (click)="navigateTo('swipe')">
    <img mat-card-image src="images/essen2.jpg" alt="Essen finden" />
    <mat-card-content>
      <p>Lass uns was zum Essen finden</p>
    </mat-card-content>
  </mat-card>

  <mat-card id="card-right" class="hover-card" (click)="navigateTo('list')">
    <img mat-card-image src="images/einkauf3.png" alt="Einkaufsliste" />
    <mat-card-content>
      <p>Einkaufsliste erstellen</p>
    </mat-card-content>
  </mat-card>
</div>

<div class="card-box">
  <mat-card id="card-bottom" class="hover-card" (click)="navigateTo('myrecipes')">
    <img mat-card-image src="images/rezept4.png" alt="Rezepte entdecken" />
    <mat-card-content>
      <p>Rezepte entdecken</p>
    </mat-card-content>
  </mat-card>
</div>
