/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;
//@import "./app/themes/nummereinstheme.css";
//das oben erstmal ignorieren, irgendwann passen die farben auch ;-; 
//oder ich bau später mal ein gutes eigenes theme, erstmal sollte das main lila reichen

@include mat.core();

html, body { height: 100%; }

$light-theme: mat.define-theme((
  color: (
    primary: mat.$violet-palette,
    tertiary: mat.$green-palette,
    theme-type: light,
  ),
));

$dark-theme: mat.define-theme((
  color: (
    primary: mat.$violet-palette,
    tertiary: mat.$green-palette,
    theme-type: dark,
  ),
));

html.theme-light {
  @include mat.all-component-themes($light-theme);
}

html.theme-dark {
  @include mat.all-component-themes($dark-theme);
}

body { 
    background-color: var(--mat-sys-background);
    color: var(--mat-sys-on-background);
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

html {
  @include mat.theme((
    color-scheme: light,
    color: (
        primary: mat.$violet-palette,
        tertiary: mat.$green-palette,
        theme-type: light,
    ),
    typography: Roboto,
    density: 0
  ));

  @include mat.sidenav-overrides((
    container-background-color: var(--mat-sys-primary-container),
  ));

  @include mat.toolbar-overrides((
    container-background-color: var(--mat-sys-primary),
  ));

  @include mat.chips-overrides((
    elevated-container-color: var(--mat-sys-tertiary-container),
    outline-color: var(--mat-sys-tertiary-container),
    label-text-color: var(--mat-sys-on-tertiary-container),
    focus-outline-color: var(--mat-sys-on-tertiary-variant),
  ));

  @include mat.expansion-overrides((
    container-background-color: var(--mat-sys-surface-container),
  ))

}

